.credspage{
    height: 100%;
    width: 100%;
}
.hcenter{
    display: flex;
    justify-content: center;
}
.vcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cred-card{
    height: 40%;
    width: 40%;
}